<!DOCTYPE html>
<html>
<head>
    <title>Role</title>
</head>
<body>
<h1>Role</h1>

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form action="" method="post">
    {%csrf_token%}
    <label for="id_name">姓名：</label>{{form.name}}{{form.name.errors}}<br><br>
    <label for="id_description">说明：</label>{{form.description}}{{form.description.errors}}<br/>

    <input type="submit" value="Submit">
</form>
</body>
</html>